html {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.info {
  width: 100vw;
  height: auto;
  margin: 18em auto auto auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1000;
  background-color: aqua;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
